html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #c0c0c7;
}

a {
  color: royalblue;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ol li, ul li {
  margin: 0.5rem 0;
}

.chapters {
  margin: 0 auto;
  width: 40rem;
  min-height: 100vh;
  padding: 1rem;
  overflow: hidden;
  background-color: #fff;
}

.drawing-board {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 1px solid #eee;
  background-color: #fff;
}
